          
.container-fluid
  .row
    .span6
      %ul.list-group.connected.user-team-list
        - for player in @user_players
          %li.list-group-item{data: {player: {id: player.id}}}
            = player.name
            %span.badge
              = player.score.round(2)
    .span6
      %ul.list-group.connected
        - for player in @remaining_players
          %li.list-group-item{data: {player: {id: player.id}}}
            = player.name
            %span.badge
              = player.score.round(2)


  = form_tag(user_team_index_path(:user_id  => current_user.id) , :id => "form") do
    = hidden_field_tag(:team, "" , id:"team") 
    = submit_tag("Update team"  , id:"update-team-button")



