.container-fluid
  .row
    .col-lg-offset-1.col-lg-4
      %h2 Match History
      - if @teams.empty?
        You haven't played a match yet!
      - else
        %table.table
          %thead
            %tr
              %th No
              %th Match
              %th Score
          %tbody
            - for team in @teams
              %tr 
                %td
                  = team.match_id
                %td
                  %a{href: team_path(team)}
                    = team.match.team1.name
                    vs
                    = team.match.team2.name
                %td= team.score
    .col-lg-offset-1.col-lg-4
      = render "shared/leaderboard" , users: @users.take(10)
  .row 
    .col-lg-offset-1.col-lg-4
      %h2 Upcoming matches
      - if @upcoming_matches.empty?
        No matches are scheduled.
      - else 
        %table.table
          %thead
            %tr
              %th No.
              %th Match
          %tbody
            - for match in @upcoming_matches
              %tr
                %td 
                  = match.id
                %td
                  %a{href: new_match_team_path(match) }
                    = match.team1.name 
                    vs
                    = match.team2.name
                    
    
