.container-fluid
  .col-lg-offset-1.col-lg-4
    .row
      %h2 Match History
      = render "shared/match_history" , user: current_user
    .row
      %h2 Upcoming matches
      - if @upcoming_matches.empty?
        No matches are scheduled.
      - else 
        %table.table
          %thead
            %tr
              %th No.
              %th Match
          %tbody
            - for match in @upcoming_matches
              %tr
                %td 
                  = match.id
                %td
                  %a{href: new_match_team_path(match) }
                    = match.team1.name 
                    vs
                    = match.team2.name
                    

  .col-lg-offset-1.col-lg-4
    .row
      %h2 Leaderboard
      %table.table
        %thead
          %tr
            %th Rank
            %th Name
            %th Score
        %tbody#users
          = render "shared/user" , users: @users , page: params[:page]
      #paginator
        = paginate @users, remote: true




    
