.container-fluid
  .row
    .col-lg-2.sidebar
      = render "shared/dashboard" , selection: :match_up
    .col-lg-10.col-lg-offset-2 
      .row
        %h1.text-center  Match up!        

      = form_tag match_path(@match),  method: :put , :id => "matchup-form" do
        .row.top-buffer
        .row
          .col-lg-2.col-lg-offset-4.text-center
            = submit_tag("Matchup!" , class: "btn btn-default btn-primary btn-lg" )
          .col-lg-2.text-center
            %button.btn.btn-lg.btn-primary#random-button{type: "button"}
              Random
        .row.top-buffer
        .row
          .col-lg-4.col-lg-offset-4
            %table.table
              %thead
                %tr
                  %th  Name
                  %th Score
              %tbody
                - for player in @players
                  %tr 
                    %td
                      = player.name
                    %td
                      = text_field_tag( player.id , nil, class: "player-score-input form-control")


