.container-fluid
  .row
    .col-lg-2.sidebar
      = render "shared/dashboard" , selection: :match_up
    .col-lg-10.col-lg-offset-2 
      = render "shared/flash_divs"
      .col-lg-4.col-lg-offset-3
        %ul.list-group
          - for match in @matches
            %li.list-group-item{class: (match.completed ?  'list-group-item-success'  : 'list-group-item-warning')}
              = match.id
              = link_to "#{match.team1.name} vs #{match.team2.name}"  , edit_match_path(match) 
              
              %span.badge
                - if match.completed
                  Completed
                - else
                  Scheduled
                  

      

