.container-fluid
  .row
    .col-lg-2.sidebar
      = render "shared/dashboard" , selection: :schedule
    .col-lg-10.col-lg-offset-2
      = render "shared/flash_divs"
      .row.text-center
        %h1 Schedule Match
      .row
        .col-lg-4.col-lg-offset-4
          = form_tag(match_index_path , :id => "match-schedule-form" , :class => "form" ) do
            .form-group
              %label{name:"team1"} 
                Team 1
              %select.form-control{name: "team1"}
                - for team in LeagueTeam.all
                  %option{value: team.id}
                    = team.name
            .form-group
              %label{name:"team1"} 
                Team 2
              %select.form-control{name: "team2"}
                - for team in LeagueTeam.all
                  %option{value: team.id}
                    = team.name

            = submit_tag("Schedule match"  , id:"match-schedule-select-team-button" , class: "btn btn-default btn-primary btn-lg ")



