

.container-fluid
  .row
    .col-lg-offset-11.col-lg-1
      = form_tag(match_create_path , :id => "match-schedule-form") do
        = hidden_field_tag(:team, "" , id:"match-schedule-team") 
        = submit_tag("Select team"  , id:"match-schedule-select-team-button" , class: "btn btn-default btn-primary btn-lg")

  .row
    .col-lg-6
      %h3 Your Team
      %ul.list-group.match-schedule-connected.match-schedule-select-team-list
    .col-lg-6
      %h3 
        Available Players
        %button.btn#match-schedule-sort-button{type: "button"}
          Sort

      %ul.list-group.match-schedule-connected.match-schedule-remaining-players-list
        - for player in @remaining_players
          %li.list-group-item{data: {player: {id: player.id}}}
            = player.name
            %span.badge
              = player.score.round(2)

