.container-fluid

  .row
    .col-lg-4.col-lg-offset-4
      .row
        %h2.text-center 
          Match
          = @match.id
          Statistics
        %h3.text-center
          = @match.team1.name
          vs 
          = @match.team2.name
      .row
        %ul.list-group
          - for player in @match.players
            %li.list-group-item
              = player.name
              %span.badge
                = player.score_in_match @match.id


