
.container-fluid
  .row
    .col-lg-offset-11.col-lg-1
      = form_tag(user_team_index_path(:user_id  => current_user.id) , :id => "form") do
        = hidden_field_tag(:team, "" , id:"team") 
        = submit_tag("Update team"  , id:"update-team-button" , class: "btn btn-default btn-primary btn-lg")

  .row
    .col-lg-6
      %h3 Your Team
      %ul.list-group.connected.user-team-list
        - for player in @user_players
          %li.list-group-item{data: {player: {id: player.id}}}
            = player.name
            %span.badge
              = player.score.round(2)
    .col-lg-6
      %h3 
        Available Players
        %button.btn#sort-button{type: "button"}
          Sort

      %ul.list-group.connected.remaining-players-list
        - for player in @remaining_players
          %li.list-group-item{data: {player: {id: player.id}}}
            = player.name
            %span.badge
              = player.score.round(2)





