.container-fluid
  .row
    .col-lg-4.col-lg-offset-4
      .row
        %h2.text-center 
          Match 
          = @team.match_id
          Statistics
        %h3.text-center
          = @team.match.team1.name
          vs 
          = @team.match.team2.name

        %h5.pull-right
          Score
          = @team.score
      .row
        %ul.list-group
          - for player in @team.players
            %li.list-group-item
              = player.name
              %span.badge
                = player.score_in_match @team.match_id


