.container-fluid
  .row
    .col-lg-4.col-lg-offset-4
      .row
        %h2.text-center 
          Match 
          = @team.match_id
          Statistics
        %h4.text-center
          = link_to  @team.user.email ,user_path(@team.user) 

        %h3.text-center
          = @team.match.team1.name
          vs 
          = @team.match.team2.name


        %h5.pull-right
          Score
          = @team.score
      .row
        %ul.list-group
          - for player in @team.players.sort{ |a,b| b.score_in_match(@team.match_id) - a.score_in_match(@team.match_id)}
            %li.list-group-item
              = player.name
              %span.badge
                = player.score_in_match @team.match_id


      .row.text-center
        %a{href: match_path(@team.match)}
          View complete statistics

