.container
  .row
    .col-lg-4.col-lg-offset-4
      .thumbnail
        = gravatar_for @user
        .caption.text-center
          %h3
            = @user.email 
            %h4
            Score:
            =  @user.score
          - if @user == current_user
            %p
              = link_to "Edit Profile", edit_user_registration_path , class: "btn btn-primary"
    
  .row
    %h3 Match History
    = render "shared/match_history", user: @user
